<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".en.miruro.MiruroUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.miruro.tv"
                    android:pathPrefix="/watch/"
                    android:scheme="https" />
                <data
                    android:host="www.miruro.to"
                    android:pathPrefix="/watch/"
                    android:scheme="https" />
                <data
                    android:host="www.miruro.bz"
                    android:pathPrefix="/watch/"
                    android:scheme="https" />
                <data
                    android:host="www.miruro.ru"
                    android:pathPrefix="/watch/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
